{% from "_render_field.html" import render_field, tank_field, share_button %}
{% extends "base.html" %}
{% set active_page = "Minimum Gas" %}

{% block head %}
{{ super() }}

<link rel="stylesheet" href="{{ url_for('static', filename='css/min_gas.css') }}">


{% endblock %}

{% block page_content %}

{% if plan is defined %}
<div class="dive-details w-plan">
  <form action="/minimum-gas" method="POST">
    {{ form.csrf_token }}
    <br>
    {{ render_field(form.depth, placeholder='Max. depth', pattern="[0-9]{1,10}",
                      title="Enter only integer numbers") }}
    {{ render_field(form.solve, placeholder='Problem solving time', 
                      pattern="[0-9]{1,10}",
                      title="Enter only integer numbers") }}
    {{ render_field(form.gas) }}
    <div class="form-group row">
      <div class="col-sm-10 offset-sm-4" >
        {{ form.submit(class="btn btn-primary") }}
      </div>
    </div>
  </form>
</div>
<div class='dive-details share'>
  {% if hash is defined %}
    <div class="w-100 offset-sm-4" >
      <button type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-info"><i class="mr-sm-2" data-feather="users"></i><span id="total_participants"></span></button>
    </div>
  {% else %}
  <form action="/share" method="POST" role='form'>
    {{ share_form.csrf_token }}
    <p id="depth-field"> {{ share_form.depth }}</p>
    <p id="solve-field"> {{ share_form.solve }}</p>
    <p id="gas-field"> {{ share_form.gas }}</p>
    {{ share_button() }}
  </form>
  {% endif %}
</div>
<div class="plan-details">
  <h3>Ascent Plan:</h3>
  <div class="scrollable">
    <p>{{ plan[0].get_depth() }}m: 1' donate gas</p>
    <p>{{ plan[0].get_depth() }}m --> {{ plan[1].get_depth() }}m: 9m/min , [ {{ time_to_fs }}' ]</p>
    {% for i in range(1, (plan|length - 2)) %}
    <p> {{ plan[i].get_depth() }}m: 1' </p>
    {% endfor %}
    <p> {{ plan[-1].get_depth() }}m: 1' gas switch</p>
  </div>
</div>
<div class="tank-details" id="tank-details">
  <h4>Minimum Gas: {{ litres }} L</h4>
  <form action="/gas_used" method="POST" role="form" id="tank_form">
    {{ tank_form.csrf_token }}
    <p id="litres-field"> {{ tank_form.min_gas_L }}</p>
    <br>
    {{ tank_field(tank_form.tank) }}
    <div class="form-group row">
      <label for="" class="col-sm-2 col-form-label">Pressure:</label>
      <p id="bar-field"> {{ bar }} bar </p>
    </div>
  </form>
</div>

<div class="d3line"></div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Share Link</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span id="share-link"></span>
      </div>
      <div class="modal-footer">
        <p id='copied-message'></p>
        <button type="button" class="btn btn-secondary" id="copyLink-close" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="copyLink"><Caption>Copy</Caption></button>
      </div>
    </div>
  </div>
</div>
{% else %}

<div class="row">
  <div class="col-md-8 offset-1 dive-details">
    <div class="card text-center  mb-3" id="help_box">
      <div class="card-header">
        <h3 class="card-title">Instructions</h3>
      </div>
      <div class="card-body">
        <ul class="list-group text-left border-0">
          <li class="list-group-item border-0">Insert plan settings to right window & press Dive!
            <ul class="list-group border-0">
              <li class="list-group-item border-0">Depth: <span class="instfieldtext">Your maximum depth (meters)</span></li>
              <li class="list-group-item border-0">Solving time: <span class="instfieldtext">The time [mins] it will take you to address the problem and prepare for ascent</span> </li>
              <li class="list-group-item border-0">Gas Switch: <span class="instfieldtext">Next available gas source (your stage/deco cylinder Or Surface)</span> 
              </li>
            </ul>
          </li>
          <li class="list-group-item border-0">Minimum Gas [Tank option on chart page]
            <ul class="list-group border-0">
              <!--
              <li class="list-group-item mb-0 border-info rounded">
                <img src="{{ url_for('static', filename='images/tank_box_img.png') }}" class="img-fluid" alt="tank box img">
              </li>
              -->
              <li class="list-group-item border-0">Tank: <span class="instfieldtext">Select volume of your bottom gas from dropdown menu.
                Dual Cylinders only.</span>  (This is a DIR calculator!)
              </li>
              <li class="list-group-item border-0 bg-0">Update to calculate pressure [bar]</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <div class="col-md-3 dive-details">
    <div class="card text-center  mb-3" id="help_box">
      <div class="card-header">
        <h3 class="card-title">Plan settings</h3>
      </div>
      <div class="card-body">
        <form action="/minimum-gas" method="POST" novalidate>
          {{ form.csrf_token }}
          <br>
          {{ render_field(form.depth, placeholder='Max. depth', pattern="[0-9]{1,10}",
                              title="Enter only integer numbers") }}
          {{ render_field(form.solve, placeholder='Problem solving time', 
                              pattern="[0-9]{1,10}",
                              title="Enter only integer numbers") }}
          {{ render_field(form.gas) }}
          <div class="form-group row">
            <div class="col-sm-10 offset-sm-4">
              {{ form.submit(class="btn btn-primary") }}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
{% endif %}





{% endblock %}

{% block scripts %}
{{ super() }}
{% if plan is defined %}
<script>
  var dataset = [{
    depth: parseInt('{{ plan[0].get_depth() }}'),
    time: 0
  }];
</script>
{% for stop in plan %}
<script>
  dataset.push({ depth: parseInt('{{ stop.get_depth() }}'), time: parseInt('{{ stop.get_time() }}') })
</script>
{% endfor %}
{% endif %}
<script src="https://d3js.org/d3.v5.min.js"></script>
<!-- <script src="http://dimplejs.org/dist/dimple.v2.3.0.min.js"></script> -->
<script src="{{ url_for('static', filename='d3.js') }}"></script>

<script src="https://cdn.socket.io/4.7.4/socket.io.min.js" integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4" crossorigin="anonymous"></script>
{% if hash is defined %}
<script>
  feather.replace()
  $("#share-link").html(window.location.href);
  var socket = io()
  socket.emit('join', { room: "{{hash}}"})
  window.onbeforeunload = function() {
    socket.emit('leave', { room: "{{hash}}"})
  }
  

  socket.on('join', function (message, total_participants) {
              document.getElementById("total_participants").innerHTML = total_participants
              console.log("JOIN: "+message)
          })
  socket.on('leave', function (message, total_participants) {
      document.getElementById("total_participants").innerHTML = total_participants
      console.log("LEAVE: "+message)
  })
  socket.on('shared_tank_change', function (data) {
      //console.log("Share tank data: "+data.bar)
      $("#bar-field").html(data.bar + " bar");
      $('#selected_tank').val(data.selected_tank)
      document.getElementById("tank-details").style.animationPlayState = "running";
  })

  $('#update-bar-button').click(function(event) {
      socket.emit('shared_tank_change', {room: "{{hash}}", min_gas_l: $('#min_gas_l').val(), selected_tank: $('#selected_tank').val()});
      return false;
  });
</script>
{% else %}
<script type=text/javascript>
  $(function() {
      $('#update-bar-button').click(function() {
          $.ajax({
              url: '/gas_used',
              data: $('form').serialize(),
              type: 'POST',
              success: function(response) {
                  //var parsed_data = JSON.parse(response);
                  $("#bar-field").html(response.bar + " bar");
                  console.log(response);
              },
              error: function(error) {
                  console.log(error);
              }
          });
      });
  });
  </script>
{% endif %}


<script type=text/javascript>
var shared = false;
$(function() {
    $('#share_button').click(function() {
        console.log(shared)
        if (shared) {
          $("#share-link").html(hashed_link);
        } else {        
          $.ajax({
              url: '/share',
              data: $('form').serialize(),
              type: 'POST',
              success: function(response) {
                  //var parsed_data = JSON.parse(response);
                  var hashed_link = (window.location.href + '/' + response.hash).replaceAll('#','')
                  $("#share-link").html(hashed_link);
                  shared = true;
                  console.log(shared)
                  console.log(response)
                  window.location.href = hashed_link
              },
              error: function(error) {
                  console.log(error);
              }
          });
        };
    });
});

$(function() {
  $('#copyLink').click(function(){

    var text = $("#share-link").get(0)
    var selection = window.getSelection();
    var range = document.createRange();
    range.selectNodeContents(text);
    selection.removeAllRanges();
    selection.addRange(range);
    //add to clipboard.
    document.execCommand('copy');
    selection.removeAllRanges();
    $("#copied-message").html("Url Copied!");
  });
});

$(function() {
  $('#copyLink-close').click(function(){
    $("#copied-message").html("");
  });
});
</script>
{% endblock %}