{% macro render_field(field) %}
<div class="form-group row mb-5">
    <label for="{{ field.name }}" class="col-sm-4 col-form-label">{{ field.label.text }}</label>
    <div class="col-sm-6">
        {{ field(class_='form-control', **kwargs)|safe }}
        {% for error in field.errors %}
        <div class="invalid-tooltip d-block">{{ error }}</div>
        {% endfor %}
    </div>
</div>
{% endmacro %}

{% macro tank_field(field) %}
<div class="form-group row">
    <label for="{{ field.name }}" class="col-sm-2 col-form-label">{{ field.label.text }}</label>
    <div class="col-sm-4">
        {{ field(class_='form-control', **kwargs)|safe }}
    </div>
    <a href="#" id="update-bar"><button class="btn btn-primary" type="button" id='update-bar-button'>Update</button></a>
</div>
{% endmacro %}

{% macro share_button() %}
<div class="form-group row">
    <div class="col-sm-10 offset-sm-4">
        <a href="#" id="update-bar"><button class="btn btn-primary" type="button" id='share_button' data-toggle="modal"
                data-target="#exampleModal">Share</button></a>
    </div>
</div>
{% endmacro %}