<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}

  <!-- Required meta tags -->
  <meta charset="utf-">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='oxigen.png') }}" type="image/x-icon">
  <link rel="icon" href="{{ url_for('static', filename='oxigen.png') }}" type="image/x-icon">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

  <title>{% block title %}DIR Calculator{% endblock %}</title>
  {% endblock %}
</head>

<body>
  {% block navbar %}

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container-fluid">



      <a class="navbar-brand" href="/">
        <h3>DIR Calculator</h3>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a id="navname" class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">{{ active_page }}  </a>
            <ul class="dropdown-menu bg-dark">
              <li><a class="dropdown-item" href="{{ url_for('minimum_gas.minimum_gas') }}"> Minimum Gas </a></li>
            </ul>
          </li>
        </ul>
      </div>

    </div>
  </nav>

  {% endblock %}

  {% block content %}
  {% for message in get_flashed_messages() %}
  <div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
  </div>
  {% endfor %}
  {% block page_content %}{% endblock %}

  {% endblock %}

  {% block scripts %}
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
  {% endblock %}

</body>

</html>