{% from "_render_field.html" import render_field %}
{% extends "base.html" %}
{% set active_page = "Minimum Gas" %}

{% block head %}
{{ super() }}

<link rel="stylesheet" href="{{ url_for('static', filename='css/min_gas.css') }}">


{% endblock %}

{% block page_content %}


<div class="dive-details">
  <form action="/minimum-gas" method="POST">
    {{ form.csrf_token }}
    <br>
    {{ render_field(form.depth, placeholder='Max. depth', pattern="[0-9]{1,10}",
                      title="Enter only integer numbers") }}
    {{ render_field(form.solve, placeholder='Problem solving time', 
                      pattern="[0-9]{1,10}",
                      title="Enter only integer numbers") }}
    {{ render_field(form.gas) }}
    <div class="form-group row">
      <div class="col-sm-10 offset-sm-4">
        {{ form.submit(class="btn btn-primary") }}
      </div>
    </div>
  </form>
</div>
<div class="plan-details">
  <h3>Ascent Plan:</h3>
  {% if plan is defined %}
  <p>{{ plan[0][0] }}m: 1' donate gas</p>
  <p>{{ plan[0][0] }}m --> {{ plan[1][0] }}m: 9m/min ascent rate</p>
  {% for i in range(1, (plan|length - 2)) %}
    <p> {{ plan[i][0] }}m: 1' </p>
  {% endfor %}
  <p> {{ plan[-1][0] }}m: 1' gas switch</p>
  {% endif %}
</div>


<div class="d3line"></div>


{% endblock %}

{% block scripts %}
{{ super() }}
{% if plan is defined %}
<script>
  var dataset = [{
    depth: parseInt('{{ plan[0][0] }}'),
    time: 0
  }];
</script>
{% for stop in plan %}
<script>
  dataset.push({ depth: parseInt('{{ stop[0] }}'), time: parseInt('{{ stop[1] }}') })
</script>
{% endfor %}
{% endif %}
<script src="https://d3js.org/d3.v5.min.js"></script>
<!-- <script src="http://dimplejs.org/dist/dimple.v2.3.0.min.js"></script> -->
<script src="{{ url_for('static', filename='d3.js') }}"></script>
{% endblock %}