{% from "_render_field.html" import render_field %}
{% extends "base.html" %}
{% set active_page = "Minimum Gas" %}

{% block head %}
{{ super() }}

<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">


{% endblock %}

{% block page_content %}

  <div class="dive-details">
    <form>
      {{ form.csrf_token }}
      <br>
      {{ render_field(form.depth, placeholder='Max. depth') }}
      {{ render_field(form.gas, placeholder='Next gas switch') }}     
      <div class="form-group row">
          <div class="col-sm-10 offset-sm-4">
            {{ form.submit(class="btn btn-primary") }}
          </div>
      </div>
  </form>
</div>

<div class="d3line"></div>


{% endblock %}

  {% block scripts %}
  {{ super() }}
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="{{ url_for('static', filename='d3.js') }}"></script>
  {% endblock %}